{%  extends "SqueletteView.twig" %}
{% block content %}
    <center><h1>Créer un Coffret</h1></center>
    <form class="gift_form" method="post" action="{{ url_for('add_box_post') }}">
        <label for="box">Coffret prédéfinit</label>
        <select id="box" name="box" >
            <option value="">Aucune</option>
            {% for b in boxs %}
                {% if b.id == box.id %}
                    <option value="{{ b.id }}" selected>{{ b.libelle }}</option>
                {% else %}
                    <option value="{{ b.id }}">{{ b.libelle }}</option>
                {% endif %}
{#                <option value="{{ b.id }}">{{ b.libelle }}</option>#}
            {% endfor %}
        </select>

        <label for="libelle">Libellé</label>
        <input type="text" id="libelle" name="libelle" required placeholder="libelle">

        <label for="description">Description</label>
        <input type="text" id="description" name="description" required placeholder="description">


        <label for="kdo">Cadeau <input type="checkbox" id="kdo" name="kdo" value=0></label>

        <label for="message">Message cadeau</label>
        <input type="text" id="message" name="message_kdo" placeholder="message">



        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="submit" value="Enregistrer">
    </form>
{% endblock %}