{% extends 'SqueletteView.twig' %}
{% block content %}
    <div class="container">
        <h1 class="heading">Ajouter des Prestations</h1>

        <form class="prestation_form" action="{{ url_for('add_prestation_to_categorie_post') }}" method="post">
            <ul>
                {% for prestation in prestations %}
                    <li>
                        <input type="number" name="{{ prestation.id }}" id="{{ prestation.id }}">
                        <label for="{{ prestation.id }}">{{ prestation.libelle }}</label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Ajouter">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </form>

        <div class="add-button">
        <a href="{{ url_for('add_prestation_get') }}" class="add_prestation_button"><button>Créer une prestation</button></a>
        </div>
    </div>
{% endblock %}
