{% extends 'SqueletteView.twig' %}
{% block content %}
    <div class="container">
        <div class="back-button">
        <a href="{{ url_for('prestations_by_box', { 'id': idBox }) }}"><button>Retour</button></a>
        </div>
        <h1 class="heading">Ajouter des Prestations</h1>

        <form class="add-presta-form" action="{{ url_for('add_prestation_to_box_post') }}" method="post">
            <div class="list-container">
                <ul>
                    {% for prestation in prestations %}
                        <li>
                            <center><div>
                                <label for="{{ prestation.id }}">{{ prestation.libelle }}</label>
                            </div></center>
                            <center><div>
                            {% set trouve = false %}
                            {% for presta in presta_quantite %}
                                {% if presta.id == prestation.id %}
                                    {% set trouve = true %}
                                    <input class="add-presta-to-box" type="number" name="{{ prestation.id }}" id="{{ prestation.id }}" value="{{ presta.contenu.quantite }}">
                                {% endif %}
                            {% endfor %}
                            {% if not trouve %}
                                <input type="number" name="{{ prestation.id }}" id="{{ prestation.id }}" value="0" min="0">
                            {% endif %}
                            </div></center>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <input type="hidden" id="idBox" name="idBox" value="{{ idBox }}">

            <input class="submit-button" type="submit" value="Modifier">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </form>

        <div class="button-container">
            <a href="{{ url_for('add_prestation_get') }}"><button>Créer une prestation</button></a>
        </div>
    </div>
{% endblock %}