{% extends 'SqueletteView.twig' %}
{% block content %}
    <div class="container">
        <h1 class="heading">{{ box.libelle }}</h1>
        <div class="back-button">
            <a href="{{ url_for(url) }}">
                <button>Retour</button>
            </a>
        </div>
        <br>
        <p class="description">Description : {{ box.description }}</p>
        <p class="price">Prix : {{ box.montant }}</p>
        {% if box.kdo == true %}
            <div class="gift-box">
                <p>Coffret cadeau : oui</p>
                <p>Message : {{ box.message_kdo }}</p>
            </div>
        {% else %}
            <p>Coffret cadeau : non</p>
        {% endif %}
        {% if estProprio == true %}
            {% if box.statut == 1  %}
                <div class="update-button">
                    <a href="{{ url_for('update_box_get', { 'id': box.id } ) }}">
                        <button>Modifier</button>
                    </a>
                </div>
            {% endif %}
            {% if box.statut == 2 %}
                <div class="update-button">
                    <a href="{{ url_for('paiement_box_get', { 'id': box.id } ) }}">
                        <button>Accéder au paiement</button>
                    </a>
                </div>
            {% endif %}
            {% if box.statut == 3 %}
                <div class="update-button">
                    <a href="{{ url_for('paiement_box_get', { 'id': box.id } ) }}">
                        <button>Générer URL</button>
                    </a>
                </div>
            {% endif %}
        {% endif %}
        <a href="{{ url_for('add_box_get') ~ '?box=' ~ box.id }}">
            <button>Créer un Coffret depuis celui-ci</button>
        </a>

        <h2 class="prestations-heading"><a href="{{ url_for('prestations_by_box', { 'id': box.id } ) }}">Prestations</a>
        </h2>
    </div>
{% endblock %}
