<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Prestation</title>
    </head>
    <body>
        <center><h1>{{prestation['libelle']}}</h1></center>
        <br>
        <a href="/"><button>Accueil</button></a>
        <br>
        <br>
        <a href="/categories/{{prestation['cat_id']}}/prestations"><button>Retour</button></a>
        <br>
        <p>Prix : {{prestation['tarif']}} €</p>
        <br>
        <p>Description : {{prestation['description']}}</p>
        <br>
        <img src="../../shared/img/{{prestation['img']}}" alt="image de {{prestation.img}}">
        <br>
        <br>
        <a href="/prestations/{{prestation['id']}}/update"><button>Modifier</button></a>
    </body>
</html>