{% extends "SqueletteView.twig" %}
{% block content %}
    <body>
    <div class="container">
        <h1 class="heading">Prestation</h1>
        <div class="sort">
            <div class="sort-by">
                <p>Trier par prix :</p>
            </div>
            <div class="list-button">
                <form action="{{ url_for('prestations') }}" method="GET">
                    <select name="tri" onchange="this.form.submit()">
                        <option value="">Aucun</option>
                        <option value="asc"{% if tri == 'asc' %} selected{% endif %}>Croissant</option>
                        <option value="desc"{% if tri == 'desc' %} selected{% endif %}>Décroissant</option>
                    </select>
                </form>
            </div>
        </div>
        <ul class="box-list">
            {% for prestation in list_presta %}
                <li><a href="{{ url_for('prestation_by_id', { 'id': prestation.id } ) }}">{{ prestation['libelle'] }} - {{ prestation['tarif'] }} €</a></li>
                <br>
            {% endfor %}
        </ul>
        <div class="create-button">
            <a href="{{ url_for('add_prestation_get') }}"><button>Créer une nouvelle prestation</button></a>
        </div>
    </div>
    </body>
{% endblock %}
