{% extends 'SqueletteView.twig' %}
{% block content %}
    <div class="container">
        <h1 class="heading">Modifier une prestation</h1>
        <br>
        <form action="/prestations/{{prestation['id']}}/update" method="post">
            <div class="form-group">
                <label for="libelle">Libelle</label>
                <input type="text" name="libelle" id="libelle" value="{{prestation['libelle']}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value="{{prestation['description']}}">
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="text" name="prix" id="prix" value="{{prestation['tarif']}}">
            </div>
            <div class="form-group">
                <label for="categorie">Catégorie</label>
                <select name="categorie" id="categorie">
                    {% for categorie in categories %}
                        <option value="{{categorie['id']}}">{{categorie['libelle']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="button-container">
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}
